[buildout]
develop = .
parts = py.test
versions = versions
find-links = http://pypi.dolmen-project.org/find-links


[py.test]
recipe = zc.recipe.egg
initialization =
  import sys
  if not sys.argv[1:]: sys.argv.append('src')
eggs =
     pytest
     ul.fs
